.footer {
  background-color: $accent-bcg-color;
  padding-top: 60px;
  padding-bottom: 60px;
}
.container-footer {
  display: flex;
  align-items: baseline;

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
}

.address__logo {
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $main-white-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 480px) {
    margin-bottom: 28px;
    font-size: 24px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.address__item {
  display: flex;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  @media screen and (max-width: 1199px) {
    justify-content: center;
  }
}

.address {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-text-color;
  }
    @media screen and (max-width: 767px) {
      margin-right: 0;
      margin-bottom: 60px;
      width: 100%;
    }
  
    @media screen and (min-width: 768px) {
      margin-right: 165px;
      margin-bottom: 60px;
    }
  
    @media screen and (min-width: 1200px) {
      margin-right: 90px;
    }
}

.address__contact {
  color: $additional-address-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--white {
    color: $main-white-color;
  }

  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}
.join {
  @media screen and (max-width: 767px) {
    justify-content: center;
    width: 100%;
  }
}

.join__item {
  @media screen and (max-width: 767px) {
    justify-content: center;
    width: 100%;
  }
}

.join__header {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-white-color;
  margin-bottom: 20px;
}
