header {
    border-bottom: 1px solid #ececec;
    position: relative;
}

.header {
    min-height: 60px;
    display: flex;
    align-items: center;
    
    // @media screen and (min-width:768px) {
    // display: flex;
    // align-items: center;

    // }
}

.header__logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $logo-black-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wraper-header{
    @media screen and (max-width:480px) {   
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo__accent {
    color: $accent-text-color;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    

    @media screen and (max-width:767px) {
            display: none;
    
        }
}
.nav__list {
    display: flex;
    margin-left: 93px;
}

.nav__item:not(:first-child) {
    margin-left: 40px;
}

.nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;


}
.nav__link--current {
    color: $accent-text-color;
       
    &::after{
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        
        height: 4px;
        width: 100%;
        
        border-radius: 2px;
        background-color: currentColor;
    }
}

.contact {
    display: flex;
    margin-left: auto;


    @media screen and (max-width:767px) {
        display: none;
        
    }
    @media screen and (max-width:1199px) {
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-left: 98px;
            }
}

.contact__item:not(:last-child){
    @media screen and (max-width:1199px){
    margin-bottom: 10px;
    }
}       

.contact__link {
    margin-right: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $secondary-text-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width:1199px){
        padding: 0;
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.02em;
            color: $secondary-text-color;

}
}

.contact__item:not(:first-child) {
    margin-left: 50px;

    @media screen and (max-width:1199px){
        margin-left: 0;
    }
}

.contact__icon {
    fill: currentColor;
    margin-right: 10px;

    .contact__link:hover &,
    .contact__link:focus &{
    fill: currentColor;
    }
}
