.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: $hero-bcg-color;

    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../../images/hero-bg-1600@1x.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

   

    @media screen and (max-width:767px) {
        .hero-section{
        background-image:linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), 
            url(../../images/hero-bg-480@1x.jpeg);
        }
        @media screen and (min-device-pixel-ratio:2),
                screen and (min-resolution:192dpi),
                screen and (min-resolution:2dppx) {
            .hero-section {
            background-image:linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), 
                    url(../../images/hero-bg-960@2x.jpeg);
            }

        }
    }

     @media screen and (min-width:768px) {
        .hero-section{
        background-image:linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), 
            url(../../images/hero-bg-768@1x.jpeg);
        }

        @media screen and (min-device-pixel-ratio:2),
        screen and (min-resolution:192dpi),
        screen and (min-resolution:2dppx) {
            .hero-section {
                
            background-image:linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), 
                    url(../../images/hero-bg-1536@2x.jpeg);
            }

        }
    }

    @media screen and (min-width:1200px) {
        .hero-section{
        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../../images/hero-bg-1600@1x.jpeg);
        }
        
        @media screen and (min-device-pixel-ratio:2),
        screen and (min-resolution:192dpi),
        screen and (min-resolution:2dppx) {
            .hero-section {
                background-image:linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)), 
                        url(../../images/hero-bg-3200@2x.jpeg);
            }
    
        }
    
    }
}

.hero__title {
    margin: 0 auto;
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $main-white-color;

    @media screen and (max-width:1199px){
        font-size: 26px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        max-width: 360px;
    }
}

.hero__button {
    margin-top: 30px;
    padding: 10px 32px;

    font-family: "Roboto", "Helvetica Neue", "Tahoma", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: $main-white-color;
    background-color: $accent-text-color;

    border: 0;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
