.work {
  padding-top: 0;
}

.work__list {
@include position();
  padding: 0;
}

.work__item:not(:first-child) {
  margin-left: 30px;
}

.work__img {
  display: block;
}

.work__thumb {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;

  background-color: rgba(47, 48, 58, 0.8);
}

.work__label {
  margin-top: 27px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $main-white-color;
}